.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position:sticky;
    top: 0;
    background-color: rgb(118, 27, 160);

}

.Link{
    margin: 10px;
    text-decoration: none;
    color:white;
}

#home{
    display: flex;
    align-items: center;
    height: 750px;
    width: 100%;
    background: url('./assets/background.jpg');
    background-size:cover ;
    box-sizing: border-box;
  
   
}
 h1{
    font-size: 30px;
    max-width: 405px;
    margin-bottom: 100px;
    margin-left: 20vw;


} 

#about{
    background-color: red;
    height: 900px;
}

#locale{
    background-color: green;
    height: 900px;
}
