 .header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position:sticky;
    top: 0;
    background-color: rgb(131, 69, 160); 

} 

.Link{
    margin: 15px;
    text-decoration: none;
    color:white;
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 783px;
    width: 100%;
    background: url('../public/assets/background.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:75%;
    box-sizing: border-box;
}

.icon{
    font-size: 20px;
    color: white;
}

.icon-social{
    font-size: 32px;
    color:blueviolet;
    margin-left: 10px;
    position: relative;
    left: 2%;
}

.logo{
    width: 500px;

}

.width{
    width: 300px
}

#about{
    height: 783px;
    background-image: url('../public/assets/cilios.jpg');
    background-size: cover;
    box-sizing: border-box;
    background-position: 80%;
    color: black;
}

