.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position:sticky;
    top: 0;
    background-color: rgb(118, 27, 160);

}

.Link{
    margin: 10px;
    text-decoration: none;
    color:white;
}

#home{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    height: 751px;
    width: 100%;
   background: url("../public/assets/background.jpg");
    background-size:cover ;
    box-sizing: border-box;
  
   
}

.title{
    font-size: 40px;
    max-width: 500px;
    margin-right: 150px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;


} 

#about{
    background-color: red;
    height: 900px;
}

#locale{
    background-color: green;
    height: 900px;
}

.image{
    width: 50%;
    border: none;

}